@use 'base/variables' as v;
@use 'base/mixins' as m;

.video{
    min-height: 50rem;
    max-height: 70rem;
    overflow: hidden;
    position: relative;
    .overlay{
        position: absolute;
        inset: 0;
        background:linear-gradient(270deg, rgba(v.$morado, 60%), rgba(darken(v.$morado, 20%), 90%));
        display: flex;
        align-items: center;
    }
    
    video{
        width: auto;
        display: block;
        @include m.desk {
            width: 100%;
        }
    }
}

.contenido-video{
    z-index: 10;
    h2{
        color: v.$blanco;
        font-size: 7rem;
        margin: 0;
    }
    p{
        color: v.$blanco;
        font-size: 2.4rem;
        font-weight: bold;
        display: inline-block;
        padding: 1rem 2rem;
        background-color: v.$rosa;
    }
}
